/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #fff;
  color: #1f2937;
}

header {
  background-color: #f9fafb;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 97px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px;
  margin-right: 0.5rem;
}

.logo h1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.logo p {
  font-size: 0.875rem;
  color: #6b7280;
}

.menu {
  display: flex;
  list-style-type: none;
}

.menu li {
  margin-left: 1.5rem;
}

.menu a {
  text-decoration: none;
  color: #1f2937;
  font-weight: 500;
  position: relative;
}

.menu a::after {
  content: "";
  font-size: 0.6rem;
  position: absolute;
  right: -0.6rem;
  top: 0;
  color: red;
}

.order-btn {
  background-color: #f87171;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: white;
  font-weight: 500;
}

.menu-toggle {
  display: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  align-items: center;
}

.text-content h2 {
  color: #3b82f6;
  font-weight: 500;
}

.text-content h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 1rem 0;
}

.text-content p {
  color: #6b7280;
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.buttons .btn {
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.learn-more {
  background-color: #4b5563;
}

.get-started {
  background-color: #10b981;
}

.code-image img {
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 14px black;
}

.learn-more:hover {
  background-color: #2563eb;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all 0.3s ease;
  box-shadow: 10px 10px 15px black;
  transition: background-color 0.5s ease, transform 1.5s ease,
    box-shadow 1s ease;
}

.get-started:hover {
  background-color: #059669;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all 0.3s ease;
  box-shadow: 10px 10px 15px black;
  transition: background-color 0.5s ease, transform 1.5s ease,
    box-shadow 1s ease;
}

.section-1 {
  height: 600px;
}

.section-2 {
  height: 600px;
  padding-left: 60px;
  padding-right: 60px;
}

.BuildText {
  color: #3b82f6;
  font-weight: 500;
  text-align: center;
}

.subheader {
  text-align: center;
  padding-bottom: 30px;
}

.section-3 {
  height: 600px;
  padding-left: 60px;
  padding-right: 60px;
}

.BuildText2 {
  text-align: start;
  color: #2563eb;
  font-weight: 500;
}

.subheader2 {
  text-align: start;
}

.card {
  box-shadow: 3px 3px 1px black;
}

.section-4 {
  height: 600px;
  padding-left: 60px;
  padding-right: 60px;
}
